.profile{
     background-color: #f2f2f2;
}
.profile__top{
    background-color: white;
    border-bottom: 1px solid lightgray;
 }
.profile__cover{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.profileCoverImg{
    margin: auto;
    width: 100%;
    height: 373px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.profileCoverImg > button{
    display: flex;
    align-items: center;
    padding: 7px 8px;
    background-color: white;
    border: none;
    border-radius: 6px;
    margin-left: 85%;
    margin-top: 25%;
}
.profileCoverImg > button > p{
    margin-left: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.profileCoverImg > button:hover{
    cursor: pointer;
    background-color: rgb(235, 231, 231);;
}
.profileUserImg{
    object-fit: cover;
    border-radius: 50%;
    width: 168px;
    height: 168px;
    margin-left: 43%;
    margin-top: -12%;
    align-items: center;
    border: 5px solid white;
    z-index: 1;
}
.profileUserImg:hover{
    cursor: pointer;
    
}
.profile__nameBio{
    display: flex;
    flex-direction: column;
    margin: 41px auto;
    
}
.profile__nameBio > h2 {
    margin: auto;
}
.profile__nameBio > h4 {
    display: flex;
    justify-content: center;
    color: #2e81f4;
}
.profile__nameBio > h4:hover{
    cursor: pointer;
}
.profile__desc{
    width: 60%;
    display: flex;
    font-size: larger;
    color: #65676b;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
    border-top: 1px solid lightgray;
    }
.profile__items{
    display: flex;
    flex-direction: row;
    margin: 0 46px;
}
.profile__item{
    padding: 20px 26px;
    display: flex;
}
.profile__buttons{
    display: flex;
    flex-direction: row;
    height: 4vh;
    margin-top: 14px;
    margin-left: 8%;
}
.profile__item:hover {
    background-color: rgb(212, 209, 209);
    border-radius: 6px;
}
.Desc__moto { 
    cursor:pointer;
}
#moto__story{
    display: flex;
    align-items: center;
    background-color: #2e81f4;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: medium;
   
}
#moto__story:hover{
    background-color: blue;
}
#moto__edit{
    display: flex;
    align-items: center;
    padding: 9px 16px;
    background-color: #f1f2f5;
    left: 882px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: medium;
    margin: 0px 7px;
}
#moto__edit:hover{
    background-color:  rgb(212, 209, 209);;
}
#moto__horizon{
    display: flex;
    align-items: center;
    padding: 9px 17px;
    background-color: #f1f2f5;
    border: none;
    border-radius: 6px;
}
#moto__horizon:hover{
    background-color: rgb(212, 209, 209);
}
.profile__bottom{
    display: grid;
    grid-template-columns: 45% 55%;
    column-gap: 15px;
 }
.profile__bottomCol1{
    border-radius: 10px;
    margin-top: 2%;
    width: 50%;
    height: 15vh;
    background-color: white;
    justify-self: end;
}
.profile__intro{
    display: flex;
    color: gray;
}
.profile__col1Card1 > h3{
    padding: 5px;
}
.profile__bottomCol2{
   justify-self: start;
}
