.groupPost{
    width: 30%;
    /* margin-top: 15px; */
    border-radius: 15px;
    /* margin-left: 343px; */
    background-color: white;
    /* box-shadow: 0px 5px 7px -7px black; */
    border: 1px solid red;
}
